body {
  margin: 0;
  background-image: url(../img/background.png);
  background-attachment: fixed;
}
* {
  font-family: "Raleway", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: #eee;
  box-shadow: 0px 8px 12px 5px rgba(0, 0, 0, 0.75);
  display: flex;
}
aside {
  width: 15%;
  background: white;
  transition: 0.3s;
  img {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
  }
  nav {
    position: sticky;
    top: 0;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        &.hide {
          display: none;
        }
        a {
          color: black;
          text-decoration: none;
          padding: 15px;
          display: block;
          transition: 0.3s;
          &.active {
            background-color: #eee;
          }
          &:hover {
            background-color: #eee;
          }
          &.login:hover {
            cursor: pointer;
          }
        }
        form {
          width: 100%;
          padding-left: 15px;

          input {
            width: 80%;
            padding: 3px;
            margin-bottom: 5px;
            box-sizing: border-box;
          }
          input[type="submit"] {
            border: none;
            background: green;
            color: white;
            font-weight: bold;
            transition: 0.3s;
            padding: 6px;
            &:hover {
              cursor: pointer;
              background-color: lighten(green, 11%);
            }
          }
        }
      }
    }
  }
}
.container {
  width: 85%;
  text-align: center;
  p {
    text-align: left;
    padding: 10px;
  }
}
header {
  width: 100%;
  img {
    width: 100%;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    > i {
      display: none;
      padding: 10px;
      font-size: 1.5rem;
    }
    .social {
      a {
        color: black;
        i {
          font-size: 2rem;
          padding: 5px;
        }
      }
    }
    .basket {
      a {
        color: black;
        text-decoration: none;
        margin-right: 10px;
      }
    }
  }
}
main {
  form {
    width: 98%;
    margin: 1%;
    text-align: left;
    label {
      display: block;
    }
    input,
    textarea,
    select {
      margin-bottom: 10px;
      padding: 10px;
      width: 50%;
      outline: none;
      resize: none;
      display: block;
      box-sizing: border-box;
    }
    input[type="submit"] {
      width: auto;
      padding: 20px 30px;
      border: none;
      background: green;
      color: white;
      font-weight: bold;
      transition: 0.3s;
      &:hover {
        cursor: pointer;
        background-color: lighten(green, 11%);
      }
    }
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    article {
      width: 31.33%;
      margin: 1%;
      background: #ddd;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      span {
        font-weight: bold;
      }
      p {
        margin: 0;
      }
      img {
        width: 100%;
      }
      button {
        border: none;
        padding: 20px;
        width: 100%;
        background-color: green;
        color: white;
        font-weight: bold;
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          background-color: lighten(green, 11%);
        }
      }
    }
  }
}
footer {
  width: 80%;
  margin: 0 auto;
  background: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0px 15px 12px 5px rgba(0, 0, 0, 0.75);
  article,
  form {
    margin: 1%;
  }
  article {
    width: 31.33%;
    p {
      margin: 0;
      padding: 3px;
    }
    a {
      color: black;
      text-decoration: none;
    }
    i {
      font-size: 1.7rem;
      padding: 5px;
    }
  }
  form {
    width: 31.33%;
    input {
      box-sizing: border-box;
      margin-bottom: 5px;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      outline: none;
      border: 1px solid green;
    }
    input[type="submit"] {
      background: green;
      color: white;
    }
    input[type="text"]:placeholder-shown ~ input[type="submit"] {
      pointer-events: none;
      background-color: gray;
    }
  }
  article:last-child {
    width: 100%;
    text-align: center;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff1b6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: green;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten(green, 10%);
}

@media screen and (max-width: 1300px) {
  .wrapper,
  footer {
    width: 90%;
  }
}

@media screen and (max-width: 1150px) {
  main {
    form {
      input,
      textarea,
      select {
        width: 100%;
      }
      .products article {
        width: 48%;
      }
    }
  }
  aside {
    width: 25%;
  }
}

@media screen and (max-width: 900px) {
  .wrapper,
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  main {
    form input,
    form textarea,
    form select {
      width: 100%;
    }
    .products article {
      width: 98%;
    }
  }

  .wrapper {
    .top {
      position: fixed;
      width: 100%;
      top: 0;
      > i {
        display: block;
      }
    }
    aside {
      transform: translateX(-25vw);
      z-index: 1;
      width: 0;
      &.show {
        transform: none;
        width: 50%;
      }
      &.show .container {
        overflow: hidden;
        // width: 50%;
      }
    }
    .container {
      width: 100%;
    }
  }
}
